<?xml version="1.0"?>
<launch>
    <arg name="gui" default="True" />
    <arg name="model" default="$(find crx_description)/crx_v1/robots/crx_v1.urdf.xacro" />
    
    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'" />

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

</launch>
