<?xml version="1.0"?>
<robot name="crx_v1" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find crx_description)/crx_v1/urdf/limb_L.urdf.xacro"/>
  <xacro:include filename="$(find crx_description)/crx_v1/urdf/limb_R.urdf.xacro"/>

  <link name="world"/>
  
  <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.3" length="0.3"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.3" length="0.3"/>
        </geometry>
      </collision>
    </link>

  <xacro:limb_L parent="base_link">
    <origin xyz="0 0.3 0" rpy="0 0 0"/>
  </xacro:limb_L>

  <xacro:limb_R parent="base_link">
    <origin xyz="0 -0.3 0" rpy="0 0 0"/>
  </xacro:limb_R>

  

  <joint name="world_to_base" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
  </joint>

</robot>